## Importando os pacotes do projeto

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from joblib import dump, load

## Configurando o JupySQL
https://jupysql.ploomber.io/en/latest/integrations/postgres-connect.html

In [2]:
%load_ext sql
%sql postgresql://bootcamp_user:admin@localhost/bootcamp_db

Deploy Panel apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

Connecting to 'postgresql://bootcamp_user:***@localhost/bootcamp_db'

## Explorando o banco de dados

In [3]:
%sqlcmd tables

+----------+
|   Name   |
+----------+
| api_call |
+----------+

In [4]:
%sqlcmd columns --table api_call

+-----------------------------------+------------------+----------+--------------------------------------+---------------+---------+
|                name               |       type       | nullable |               default                | autoincrement | comment |
+-----------------------------------+------------------+----------+--------------------------------------+---------------+---------+
|                 id                |     INTEGER      |  False   | nextval('api_call_id_seq'::regclass) |      True     |   None  |
|                lat                | DOUBLE PRECISION |  False   |                 None                 |     False     |   None  |
|                lng                | DOUBLE PRECISION |  False   |                 None                 |     False     |   None  |
|       res_is_region_covered       |     BOOLEAN      |  False   |                 None                 |     False     |   None  |
|       res_closest_center_id       |     INTEGER      |  False   |                 None                 |     False     |   None  |
| res_closest_center_distance_in_km | DOUBLE PRECISION |  False   |                 None                 |     False     |   None  |
|       res_closest_center_lat      | DOUBLE PRECISION |  False   |                 None                 |     False     |   None  |
|       res_closest_center_lng      | DOUBLE PRECISION |  False   |                 None                 |     False     |   None  |
|             created_at            |    TIMESTAMP     |   True   |                now()                 |     False     |   None  |
+-----------------------------------+------------------+----------+--------------------------------------+---------------+---------+

In [5]:
%%sql result <<
SELECT * FROM api_call

Running query in 'postgresql://bootcamp_user:***@localhost/bootcamp_db'

26 rows affected.

In [6]:
result = result.DataFrame()

In [7]:
result.head()

,id,lat,lng,res_is_region_covered,res_closest_center_id,res_closest_center_distance_in_km,res_closest_center_lat,res_closest_center_lng,created_at
0,1,-15.65247,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-27 21:41:00.739730+01:00
1,2,-15.65247,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-27 21:55:23.380493+01:00
2,3,-15.65247,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 21:05:42.086013+01:00
3,4,-15.65247,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 21:05:43.071332+01:00
4,5,-15.65247,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 21:05:43.511738+01:00

## Outra forma de executar uma consulta SQL com SQLAlchemy

In [8]:
engine = create_engine(f"postgresql://bootcamp_user:admin@localhost/bootcamp_db")

In [9]:
df_results = pd.DataFrame()
with engine.connect().execution_options(stream_results=True) as conn:
    for chunk_df in pd.read_sql("SELECT * FROM api_call", conn, chunksize=5):
        print(f"Dataframe has {len(chunk_df)} rows.")
        df_results = pd.concat([df_results, chunk_df], axis = 0)

df_results.shape

Dataframe has 5 rows.
Dataframe has 5 rows.
Dataframe has 5 rows.
Dataframe has 5 rows.
Dataframe has 5 rows.
Dataframe has 1 rows.

(26, 9)

In [10]:
df_results.head()

,id,lat,lng,res_is_region_covered,res_closest_center_id,res_closest_center_distance_in_km,res_closest_center_lat,res_closest_center_lng,created_at
0,1,-15.65247,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-27 20:41:00.739730+00:00
1,2,-15.65247,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-27 20:55:23.380493+00:00
2,3,-15.65247,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:42.086013+00:00
3,4,-15.65247,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:43.071332+00:00
4,5,-15.65247,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:43.511738+00:00

## Criando a lógica para identificar concept drift

Primeiramente, vamos carregar os dados de drift do nosso modelo

In [11]:
drift_params = load('drift_params.joblib') 
drift_params

{1: {'mean': 1.7,
  'stdev': 1.14,
  'perc_outliers': 0.0288,
  'perc_inner_radius': 0.9867},
 0: {'mean': 2.62,
  'stdev': 2.7,
  'perc_outliers': 0.0318,
  'perc_inner_radius': 0.8951},
 3: {'mean': 13.04,
  'stdev': 5.49,
  'perc_outliers': 0.048,
  'perc_inner_radius': 0.0653},
 2: {'mean': 2.36,
  'stdev': 1.85,
  'perc_outliers': 0.0456,
  'perc_inner_radius': 0.9259},
 5: {'mean': 2.48,
  'stdev': 1.04,
  'perc_outliers': 0.0212,
  'perc_inner_radius': 0.9901},
 4: {'mean': 5.12,
  'stdev': 2.59,
  'perc_outliers': 0.0616,
  'perc_inner_radius': 0.5494}}

No nosso caso, como não temos muitos dados de utilização do modelo, iremos analisar o concept drift com base nas últimas inferências do modelo. Porém, considere que em um outro projeto você poderia pensar em outras lógicas, como analisar os dados do dia anterior.

No contexto deste projeto, um concept drift será identificado pela seguinte regra:
* Houve uma redução de mais de 5% no percentual de pontos classificados dentro da região de entrega (em pelo menos um cluster)

  Neste caso, a premissa é que os clientes passaram a requisitar pesquisas fora da região de entrega com mais frequência

In [12]:
df_results = pd.DataFrame()
with engine.connect().execution_options(stream_results=True) as conn:
    for chunk_df in pd.read_sql("SELECT * FROM api_call ORDER BY created_at DESC LIMIT 50", conn, chunksize=5):
        df_results = pd.concat([df_results, chunk_df], axis = 0)

df_results

,id,lat,lng,res_is_region_covered,res_closest_center_id,res_closest_center_distance_in_km,res_closest_center_lat,res_closest_center_lng,created_at
0,26,-15.668653,-47.738174,False,2,5.96,-15.757038,-47.771612,2024-06-01 15:21:36.501754+00:00
1,25,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:46.538919+00:00
2,24,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:46.402511+00:00
3,23,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:46.268601+00:00
4,22,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:46.116248+00:00
0,21,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:45.991013+00:00
1,20,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:45.825752+00:00
2,19,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:45.672110+00:00
3,18,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:45.535315+00:00
4,17,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:45.398079+00:00
0,16,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:45.264548+00:00
1,15,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:45.119119+00:00
2,14,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:44.965282+00:00
3,13,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:44.821900+00:00
4,12,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:44.686935+00:00
0,11,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:44.567086+00:00
1,10,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:44.284875+00:00
2,9,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:44.153330+00:00
3,8,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:44.008717+00:00
4,7,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:43.841587+00:00
0,6,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:43.664585+00:00
1,5,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:43.511738+00:00
2,4,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:43.071332+00:00
3,3,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-28 20:05:42.086013+00:00
4,2,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-27 20:55:23.380493+00:00
0,1,-15.652470,-47.760928,True,2,3.16,-15.757038,-47.771612,2024-05-27 20:41:00.739730+00:00

Contagem de ocorrências/linhas por cluster e atendimento da região de cobertura

In [13]:
aggregations = dict()
aggregations['id'] = 'count'
df_results_agg = df_results.groupby(['res_closest_center_id', 'res_is_region_covered'], as_index = False).agg(aggregations)
df_results_agg

   res_closest_center_id  res_is_region_covered  id
0                      2                  False   1
1                      2                   True  25

Embora não seja necessário, eu costumo renomear as colunas do dataframe para manter a consistência

In [14]:
df_results_agg = df_results_agg.rename(
    columns = {
        'id': 'count'
    }
)

df_results_agg

   res_closest_center_id  res_is_region_covered  count
0                      2                  False      1
1                      2                   True     25

Aplica a regra do concept drift

In [15]:
for c in df_results_agg['res_closest_center_id'].unique():

    print("Analisando concept drift do cluster {}".format(c))

    # Seleciona apenas os dados do cluster sob análise
    res = df_results_agg.loc[df_results_agg['res_closest_center_id'] == c,]
    
    # Verifica se existem casos fora da região de entrega para análise
    if False in res.res_is_region_covered.values:

        # Verifica a quantidade mínima de observações para prosseguir com a análise
        if res['count'].sum() >= 20:
        
            # Calcula o percentual de casos dentro e fora da região de entrega
            res['perc'] = (res['count'] / res['count'].sum())

            # Busca o percentual de observações fora da região de entrega
            region_out = res.loc[res['res_is_region_covered'] == False, ]['perc']
            region_in = 1 - region_out

            # Calcula o desvio
            deviation = 1 - (region_in / drift_params[c]['perc_inner_radius'])
            deviation = deviation[0]

            # Aplica a regra do concept drift
            if deviation >= 0.05:
                print("Drift identificado no cluster {}. Desvio: {}".format(c, deviation))
            else:
                print("Nenhum drift identificado para o cluster {}".format(c))

        else:
            print("Não existem pontos suficientes para analisar o concept drift do cluster {}".format(c))

    else:
        print("Não existem pontos fora da região de entrega para analisar o concept drift do cluster {}".format(c))

Analisando concept drift do cluster 2
Nenhum drift identificado para o cluster 2